

.sdk_title_info {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    margin-bottom: 0;
    padding: 10px;
    text-transform: uppercase;
}
.car_info {
    background: #f7f7f7;
    border-radius: 6px;
    padding: 5px;
}
.if_row {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.if_row_l {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}

.if_row_r {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    padding-left: 5px;
}