.custom-switch {
    margin-left: 8px;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(1rem) !important;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #329945 !important;
    background-color: #329945 !important;
}
.custom-control-label {
    padding-left: 26px;
}
.custom-switch .custom-control-label::before{
    border-radius: 16px !important;
    left: -1.8rem !important;
}
.custom-control-input.is-invalid~.custom-control-label::before{
    border-color: #d8d0d0 !important;
}
.custom-control-input.is-invalid~.custom-control-label{
    color: #323232 !important;
}

.custom-control-label::before{
    height: 24px !important;
    width: 44px !important;
    top: 0 !important;
}
.custom-switch .custom-control-label::after{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50px !important;
    top: calc(.25rem + -2px) !important;
    left: calc(-2rem + 8px) !important;
}

.group-ipu-cus{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
