#float-label {
  display: flex;
  flex-direction: column;
  position: relative;
}

#float-label input {
  position: relative;
  width: 100%;
  height: 54px;
  padding: 14px 16px 0 10px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #212121;
  font-size: 16px;
  background-color: #FFFFFF;
}

#float-label input:focus, #float-label textarea:focus {
  border-color: #329945;
  box-shadow: none !important;
}
#float-label textarea {
  width: 100%;
  padding: 20px 16px 0 10px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #212121;
  font-size: 16px;
  transition: all 0.2s ease-out;
}
#float-label .no-border{
  border: none!important;
}
#float-label .border{
   border: 1px solid #ddd!important;
}


#float-label label {
  font-size: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  padding: 0 18px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(2px, 16px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
#float-label:focus-within label {
  transform: translate(1px, 9px) scale(0.65);
}
#float-label .Active {
  transform: translate(1px, 9px) scale(0.65);
}
#float-label .icon{
    position: absolute;
    right: 12px;
    top: 15px;
    color: #319945;
}
#float-label .dropdown{
    position: absolute;
    right: 12px;
    top: 15px;
    color: #296F39;
}
.ipt-disable input{
  background: #eeeeee!important;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  border-color: #dc3545!important;
}
.form-control.is-invalid, .was-validated .form-control:invalid  ~ .icon, .was-validated .form-control:invalid  ~ .dropdown{
  display: none;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e")!important;
    background-repeat: no-repeat!important;
    background-position: right calc(.375em + .1875rem) center!important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)!important;
}
#float-label .react-loading-skeleton{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px;
  height: 54px;
}
