.float-pophover .stitle{
  font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #777777;
    margin-top: 10px;
}
.Calendar > :not(.Calendar__footer) button {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#float-label {
  display: flex;
  flex-direction: column;
  position: relative;
}

#float-label input {
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 54px;
  padding: 14px 16px 0 10px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #212121;
  font-size: 16px;
}

#float-label input:focus, #float-label textarea:focus {
  border-color: #329945;
}

#float-label textarea {
  width: 100%;
  padding: 20px 16px 0 10px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #212121;
  font-size: 16px;
  transition: all 0.2s ease-out;
}
#float-label .no-border{
  border: none!important;
}
#float-label .border{
   border: 1px solid #ddd!important;
}


#float-label label {
  font-size: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  padding: 0 18px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(2px, 16px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
#float-label:focus-within label {
  color: #319945;
  transform: translate(1px, 9px) scale(0.65);
}
#float-label .Active {
  color: #319945;
  transform: translate(1px, 9px) scale(0.65);
}
.form-control.is-invalid, .was-validated .form-control:invalid  ~ label{
  color: #dc3545!important;
}


#float-label .icon{
    position: absolute;
    right: 12px;
    top: 15px;
    color: #319945;
}
#float-label .dropdown{
    position: absolute;
    right: 12px;
    top: 15px;
    color: #296F39;
}
.ipt-disable input{
  background: #fbfbfb!important;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  border-color: #dc3545!important;
}
.form-control.is-invalid, .was-validated .form-control:invalid  ~ .icon, .was-validated .form-control:invalid  ~ .dropdown{
  display: none;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e")!important;
    background-repeat: no-repeat!important;
    background-position: right calc(.375em + .1875rem) center!important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)!important;
}
#float-label .react-loading-skeleton{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px;
  height: 54px;
}

.Popover-body{
  min-width: 220px;
  background: #fff;
  box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
}
.Popover-body .popsheader{
  background: #e4e4e4;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Popover-body .list-item{
    list-style: none;
}
.Popover-body .list-item .sx-item.active{
    color: #319745;
    background: #fafafa;
}
.Popover-body .list-item .sx-item{
  padding: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.Popover-body .list-item .sx-item:hover{
  color: #329945;
  background: #dddddd42;
}
.Popover-tipShape{
  fill: #e4e4e4!important;
}
.country-name{
  color: #329945;
}


.float-pophover.md{
  width: 286px!important;
  border-radius: 10px;
}
.float-pophover.md .select-body{
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0px;
}
.float-pophover{
  background: #F4F4F4;
  border-radius: 5px 5px 0px 0px;
  border-radius: 10px;
    width: 326px;
    border: 1px solid #DDDDDD;
}
.Popover-tipShape{
  fill: #f4f4f4;
}
.float-pophover .sform{
  position: relative;
  padding-bottom: 50px;
  margin: 10px 20px;
}
.float-pophover .sform input{
  position: absolute;
  width: 100%;
  background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    height: 44px;
    padding-left: 15px;
    padding-right: 20px;
    font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  transition: all 0.2s;
}

.search-select-sdk{
  position: relative;
  margin-top: 10px;
}

.search-select-sdk i {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #b7aeae;
}

.search-select-sdk input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  height: 44px;
  padding-left: 15px;
  padding-right: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  transition: all 0.2s;
}

.search-select-sdk input:focus {
  border-color: #329945;
}

.float-pophover .sform input:focus{
  border-color: #329945;
}
.float-pophover img{
  position: absolute;
  right: 15px;
    top: 15px;

}
.float-pophover .stitle{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #777777;
  margin-top: 10px;
}
.float-pophover .select-body{
  background: #ffffff;
  padding: 20px 0px;
  position: relative;
  height: 260px;
  overflow-x: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.float-pophover .select-body.datw{
  height: fit-content;
}
.Popover-body{
  min-width: 220px;
  background: #fff;
  box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
  border-radius: 10px;
}

.ul-select{
  min-width: 284px;
  list-style: none;
  padding: 0;

}
.ul-select .sx-item{
  padding: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.ul-select .sx-item:hover{
  color: #329945;
  background: #dddddd42;
}
.ul-select.hide{
  display: none;
}
.ul-select{
  transition: all 0.2s ease-out;
}
.float-pophover .frtl-hide{
  transform: translate(-326px);
  opacity: 0;
}
.float-pophover .frtl-show{
  transform: translate(0px);
  opacity: 1;
}
.float-pophover .fltr-hide{
  transform: translate(326px);
  opacity: 0;
}
.float-pophover .fltr-show{
  transform: translate(0px);
  opacity: 1;
}
.float-pophover .backpopup{
  position: absolute;
    left: 20px;
    color: #296F39;
    cursor: pointer;
    transition: all 0.3s;
    padding: 4px;
}
.float-pophover .backpopup:hover{
    color: #DA2128;
    background: #dedede;
    border-radius: 3px;
}
.float-pophover .country-name{
  text-align: center;
    margin-bottom: -10px;
    margin-top: 15px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 225px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: -10px;

}
.country-name{
  color: #329945;
}
.hzld{
  position: relative;
}
.ul-select.absolute{
  position: absolute;
  top: 0;
  left: 0;
}
.ul-select.location{
   position: absolute;
  top: 0;
  left: 0;
}
.float-pophover .ul-select li{
      font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.float-pophover .ul-select li:hover{
  color: #329945;
}
.mk-loading{
  position: absolute;
  width: 42px;
   top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*.float-mess{
  position: relative;
  margin-bottom: 0px;
}
.invalid-feedback{
  position: absolute;
  z-index: 99999;
  text-align: right;
  background: #e74c3c;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 4px;
  display: none;
}
.invalid-feedback:before{
    content: "";
    min-width: 15px;
    height: 15px;
    background: #e84b3c;
    top: -6px;
    position: absolute;
    transform: rotate(45deg);
    left: 12px;
}



.float-mess .form-control:focus ~ .invalid-feedback {
  display: block;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip{
  display: none;
}

*/
