
/* provides area where balls must go */
.fm-loader {
    width: 100%;
    height: 150vh;
    position: absolute;
    background: rgb(255 251 251 / 67%);
    z-index: 999999;
}
.loader-sdk {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 999999;
}

/* creates a ball for each div */
.loader-sdk div {
    content: " ";
    width: 5px;
    height: 5px;
    background: #329945;
    border-radius: 100%;
    /* positions all dots inside parent div, all on top of each other, presumably: */
    position: absolute;
    animation: shift 3.1s linear infinite;
    animation-fill-mode: both;
}

/* sets the other 4 div-dots off at different times: */
.loader-sdk div:nth-of-type(1) { animation-delay: -0.3s; }
.loader-sdk div:nth-of-type(2) { animation-delay: -0.6; }
.loader-sdk div:nth-of-type(3) { animation-delay: -0.9s; }
.loader-sdk div:nth-of-type(4) { animation-delay: -1.2s; }
.loader-sdk div:nth-of-type(5) { animation-delay: -1.5s; }
.loader-sdk div:nth-of-type(6) { animation-delay: -1.8s; }
.loader-sdk div:nth-of-type(7) { animation-delay: -2.1s; }
.loader-sdk div:nth-of-type(8) { animation-delay: -2.4s; }
.loader-sdk div:nth-of-type(9) { animation-delay: -2.7s; }

@keyframes shift {
    0%   {opacity: 1; background-color: green; transform: rotate(0deg) translateX(20px) rotate(0deg);}
    50%  {opacity: 1; background-color: white; transform: rotate(180deg) translateX(20px) rotate(-180deg);}
    100% {opacity: 1; background-color: green; transform: rotate(360deg) translateX(20px) rotate(-360deg)}
}

