

.form-create-ord {
    margin-top: 20px;
}

#cus-input-label input {
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}
#cus-input-label input:focus {
    box-shadow: none;
}

#cus-input-label .icon {
    position: absolute;
    right: 1px;
    top: 34px;
    color: #319945;
    width: 30px;
    height: 36px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}
.Calendar > :not(.Calendar__footer) button {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.Popover-tipShape {
    fill: #FFFFFF !important;
}
.custom-popover-date{
    z-index: 9999;
}
.custom-popover-address{
    z-index: 9999;
}
.custom-popover-date .popheader {
    display: none;
}
.custom-popover-date .float-pophover .select-body {
    padding-top: 0;
}
/*css custom react-select*/

.cus-select--is-disabled .cus-select__control--is-disabled{
    background: #F9F9F9;
    color: #666666;
}
.cus-select--is-disabled .cus-select__control--is-disabled .cus-select__single-value--is-disabled{
    color: #666666;
}
.cus-select--is-disabled .cus-select__control--is-disabled .cus-select__indicator.cus-select__dropdown-indicator{
    color: #BBBBBB;
}
.cus-select--is-disabled .cus-select__control--is-disabled .cus-select__indicator-separator,
.cus-select__indicator-separator {
    display: none;
}

.cus-select__single-value, .cus-select__placeholder {
    top: 40% !important;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.cus-select__indicator.cus-select__dropdown-indicator{
    padding-top: 0;
    color: #329945;
}
.cus-select__input input {
    margin-top: -5px;
}
/*end css select custom*/

.typing-value-form{
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px 20px;
    font-weight: bold;
    font-size: 14px;
}
.typing-value-form label.col-form-label:first-child {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}
.typing-value-form label.col-form-label:nth-child(2) {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    padding-left: 8px;
}

.typing-value-form label.col-form-label:nth-child(3) {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    padding-left: 8px;
}

.form-choose-type p  {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}

.rd-group {
    display: flex;
    margin-bottom: 8px;
}
.rd-group label {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.form-group label {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}
.form-group span {
    color: #BA0000;
}
.rd-group .form-check {
    margin-right: 48px;

}

.form-table {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}
#payment-expected {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}
table th:first-child{
    border-radius:10px 0 0 0;
}

table th:last-child{
    border-radius:0 10px 0 0;
}
#payment-expected td, #payment-expected th {
    padding: 8px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
}

#payment-expected th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #E7FCEE;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #329945;
}
.btn-next-step {
    width: 235px;
    height: 38px;
    background: #329945;
    border-radius: 3px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 9px;
    margin: 15px;
    cursor: pointer;
    border-width: 0;
}
.btn-next-step:focus {
    outline: unset !important;
}
.btn-next-step:disabled {
    background: #C4C4C4;
    /*border-radius: 3px;*/
}

.btn-preview-gcn {
    background: #008FFB;
}
.btn-confirm {
    background: #329945;
}
.btn-reject {
    background: #CC444A;
}

.btn-gdl {
    background: #EC5233;
}

.btn-payment-tt {
    background: #FFB600;
}
.btn-delete-order {
    border: 1px solid #F11A3F !important;
    color: #F11A3F !important;
}
.btn-next-step i, .btn-delete-order i {
    margin-right: 5px;
    font-size: 12px;
}



.form-content label.col-form-label {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    padding-top: 0;
    margin-bottom: 16px;
}

.header-content-step-download{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
}
.header-content-step-download label{
    padding-top: 5px;
}
.btn-download-document{
    width: 259px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #329945;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #329945;
    margin-left: 14px;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
}
.form-group-download label{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
}
.form-btn-confirm{
    display: flex;
}
.form-btn-confirm .btn-download-document{
    margin: 15px;
}
.form-btn-confirm .btn-next-step{
    margin-left: 0;
}
.content-sms {
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px;
    font-family: Nunito;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #DA2128;
}

/*chi tiet 1 hop dong*/

.tab-detail-contract {
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 20px;
}
.un-active-tab {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #323232;
    padding: 17px 0;
    border-bottom: 1px solid #DDDDDD;
}
.active-tab{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 17px 0;
    color: #329945;
    border-bottom: 3px solid #329945;
}
.item-detail-contract{
    width: 100%;
}

.item-active-tab{
    /*background: #F9F9F9;*/
    /*border: 1px solid #DDDDDD;*/
    /*box-sizing: border-box;*/
    /*border-radius: 3px;*/
    padding: 16px 20px;
}
.item-active-tab label.col-form-label:first-child {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}
.item-active-tab label.col-form-label:nth-child(2) {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    padding-left: 8px;
}
.status-history-contracts {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #329945;
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    margin-right: -15px;
}
.form-btn-action {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.btn-common {
    /*width: 246px;*/
    height: 38px;
    border-radius: 3px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
}
.btn-gcn {
    background: #008FFB;
}
.btn-view-info-gn {
    background: #00CB86;
}
.btn-create-additional {
    background: #329945;
}
.btn-edit-contract{
    background: #EC5233;
}
.btn-cancel-contract{
    background: #FFFFFF;
    border: 1px solid #F11A3F;
    box-sizing: border-box;
    color: #F11A3F;
}
.btn-edit-addtional{
    background: #EC5233;
}
.btn-upload-file-document{
    background: #3567E4;
}
.btn-payment {
    background: #FFB600;
}

.btn-common i{
    margin-right: 8px;
}
.form-edit-addtional i.cus-icon {
    color: #329945;;
    float: right;
    margin-top: 10px;
}

.form-edit-addtional {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.header-detail {
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-detail label:first-child {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #323232;
}
.header-detail label:nth-child(2) {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #329945;
    float: right;
}
.form-content-certi .search-gcn label {
    margin-right: 20px;
    margin-top: 8px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}
.form-content-certi .search-gcn .btn-search-gcn {
    width: 96px;
    height: 38px;
    background: #008FFB;
    border-radius: 3px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 9px;
    margin-left: 20px;
}
table#table-gcn, #table-gcn td, #table-gcn th {
    border: 1px solid #E9EBEE;
}

table#table-gcn {
    width: 100%;
    border-collapse: collapse;
}

#table-gcn th {
    background: #E7FCEE;
    padding: 8px 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #329945;
    text-align: center;
}
#table-gcn td {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
    padding: 9px 0;
    text-align: center;
}
#table-gcn td  i {
    padding-right: 8px;
}
#table-gcn td.cus-icon i:first-child{
    color: #329945;
}
#table-gcn td.cus-icon i:nth-child(2) {
    color: #FFB600;
}
#table-gcn td.cus-icon i:nth-child(3) {
    color: #DA2128;
}
#table-gcn td.cus-icon i:last-child {
    color: #008FFB;
}
.form-view-btn-action{
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
}
.item-image-file{
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
}
.form-group-download .add-img{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #329945;
    float: right;
    cursor: pointer;
}
.preview-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(25, 25, 25, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow-x: auto;
}
.wrap_tiem_choice{
    margin: 86px auto 0 auto;
    display: block;
    max-width: 355px;
    max-height: 503px;
    position: relative;
}
.hover-text-pdf-cs{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    top: 0;
    padding-top: 45%;
    opacity: 0;
}
.hover-text-pdf-cs:hover {
    opacity: 1;
    cursor: pointer;
    /* background: #ecfff3bd; */
}
.view_cer{
    color: #166b25;
    cursor: pointer;
}
.view_cer:hover{
    text-decoration: underline;
}
.item-choose img {
    margin: 86px auto 0 auto;
    display: block;
    max-width: 355px;
    max-height: 503px;
}
.btn-remove-img-preview {
    width: 134px;
    height: 38px;
    background: #DA2128;
    border-radius: 3px;
    margin: 24px auto;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
}
.hover-text-pdf{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    top: 0;
    padding-top: 45%;
    opacity: 0;
}
.hover-text-pdf:hover {
    opacity: 1;
    background: #ecfff3bd;
}
.btn-remove-img-preview label {
    margin-left: 8px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-close-preview-img {
    position: absolute;
    width: 93px;
    height: 38px;
    top: 20px;
    right: 20px;
    background: #F4F4F4;
    border-radius: 3px;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;
}
.btn-close-preview-img i {
    color: #329945;
    cursor: pointer;
}
.btn-close-preview-img label {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    margin-left: 8px;
    cursor: pointer;
}

.list-preview-img{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    border-top: 1px solid #777777;
    padding-top: 24px;
}
.item-preview-active {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 40px;
}
.item-preview{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.item-preview img, .item-preview-active img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.backdrop-item-img {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
}
.remove-item-img {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    text-align: center;
    font-size: 14px;
    top: 6px;
    right: 6px;
    cursor: pointer;
}
.txt-duration-insur , .txt-total-payment {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
}
.react-confirm-alert-overlay{
    background: rgba(25, 25, 25, 0.25) !important;
}
.custom-content-dialog {
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #DDDDDD;
    width: 350px;
    text-align: center;
    padding: 20px 20px 10px 20px;
}
.custom-content-dialog p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #212121;
}
.custom-content-dialog .btn-confirm-dialog {
    width: 80px;
    background: #329945;
    color: white;
    text-align: center;
    margin: 10px auto;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.show-tooltip-select{
    margin-left: 8px;
    font-size: 15px;
    color: #319a45 !important;
    cursor: pointer;
}

#overlay-example .tooltip-inner{
    /*width: 100% !important;*/
    max-width: 500px !important;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid silver;
    box-shadow: 0 2px 4px rgb(202 193 193);
    display: flex;
    flex-direction: column;
    padding: .4rem;
    /*transition: opacity .2s;*/
    text-align: left;
}

#overlay-example .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #d2c6c6 !important;
}

.react-datepicker-wrapper{
    width: 100%;
    z-index: 99;
}




/*css datepicker*/

.DatePicker {
    position: relative;
    display: inline-block;
    z-index: 100;
}

.DatePicker__input {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0.4em 0.8em;
    font-family: inherit;
    text-align: center;
    font-size: 12px;
}

.DatePicker__input.-rtl {
    direction: rtl;
}

.DatePicker__input::placeholder {
    color: #979797;
}

.DatePicker__calendarContainer.-top + .DatePicker__calendarArrow {
    top: auto;
    bottom: calc(100% + 10px);
    transform: translateY(-2.5rem) rotate(180deg);
    animation: fadeArrowFlipped 0.3s forwards;
}

.DatePicker__calendarContainer {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
}

.DatePicker__calendarContainer.-top {
    top: auto;
    bottom: calc(100% + 20px);
}

.Calendar,
.Calendar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: ltr;
}

.Calendar,
.Calendar.-rtl * {
    direction: rtl;
}

.DatePicker__calendarArrow {
    position: absolute;
    width: 0;
    height: 0;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    margin: 0 auto;
    border-style: solid;
    z-index: 10;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
}

.Calendar {
    --cl-color-black: #444444;
    --cl-color-disabled: #d4d4d4;
    --cl-color-error: #ff2929;
    font-size: 10px;
    background: #fff;
    box-shadow: 0 1em 4em rgba(0, 0, 0, 0.07);
    border-radius: 1em;
    position: relative;
    user-select: none;
    padding-top: 1.2em;
    display: flex;
    flex-direction: column;
    width: 33em;
    z-index: 10;
    max-width: 90vw;
    min-height: 36.7em;
}

.DatePicker .Calendar,
.DatePicker__calendarArrow {
    transform: translateY(2.5em);
    opacity: 0;
    animation: fadeCalendar 0.3s forwards;
}

.DatePicker__calendarContainer.-top .Calendar {
    transform: translateY(-2.5em);
}

.Calendar.-noFocusOutline *:focus {
    outline: none !important;
}

.Calendar > :not(.Calendar__footer) button {
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.Calendar__header {
    display: flex;
    color: var(--cl-color-black);
    padding: 2em 2.9em;
    align-items: center;
    overflow: hidden;
}

.Calendar__monthArrowWrapper {
    line-height: 0;
    font-size: 1em;
    padding: 3px;
    position: relative;
    border: none;
    z-index: 1;
    opacity: 1;
    transition: 0.2s;
}

.Calendar__monthArrowWrapper:focus {
    outline: 1px dashed rgba(0, 0, 0, 0.4);
    outline-offset: 2px;
}

.Calendar__monthArrowWrapper:disabled,
.Calendar__monthArrowWrapper.-hidden {
    opacity: 0;
    pointer-events: none;
}

.Calendar__monthArrowWrapper.-left {
    transform: rotate(90deg);
}
.Calendar.-rtl .Calendar__monthArrowWrapper.-left {
    transform: rotate(-90deg);
}

.Calendar__monthArrowWrapper.-right {
    transform: rotate(-90deg);
}
.Calendar.-rtl .Calendar__monthArrowWrapper.-right {
    transform: rotate(90deg);
}

.Calendar__monthArrowWrapper:active .Calendar__monthArrow {
    transform: scale(0.7);
}

.Calendar__monthArrow {
    border-radius: 50%;
    transition: var(--animation-duration) transform;
    pointer-events: none;
    background-repeat: no-repeat;
    display: block;
    width: 1.7em;
    height: 1.7em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg class='nc-icon-wrapper' fill='%23000000'%3E%3Cdefs stroke='none'%3E%3C/defs%3E%3Cpath class='cls-1' d='M12 23.25V.75' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px'%3E%3C/path%3E%3Cpath class='cls-2' d='M22.5 11.25L12 .75 1.5 11.25' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5px' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: 100% 100%;
}

.Calendar__monthYearContainer {
    flex: 1;
    position: relative;
}

.Calendar__monthYear {
    font-size: 1.6em;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: var(--animation-duration);
    line-height: 1;
}

.Calendar__monthYear.-hiddenNext {
    opacity: 0;
    transform: translateX(50%);
}

.Calendar.-rtl .Calendar__monthYear.-hiddenNext {
    transform: translateX(-150%);
}

.Calendar__monthYear.-hiddenPrevious {
    opacity: 0;
    transform: translateX(-150%);
}

.Calendar.-rtl .Calendar__monthYear.-hiddenPrevious {
    transform: translateX(50%);
}

.Calendar__monthYear.-shown {
    opacity: 1;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-50%);
}

.Calendar__monthYear.-shownAnimated {
    animation: var(--animation-duration) fadeTextToCenter forwards;
}

.Calendar__monthYear > * {
    padding: 0.2em 0.5em;
    border: 1px solid transparent;
    transition: var(--animation-duration);
    font-size: 1.05em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0) scale(0.95);
    will-change: transform;
    border-radius: 5px;
}

.Calendar__monthYear:not(.-shown) > *,
.Calendar__monthYear > *.-hidden {
    cursor: default;
    pointer-events: none;
}

.Calendar__monthText {
    margin-left: -0.3em;
}
.Calendar__yearText:last-child {
    margin-right: -0.3em;
}

.Calendar__monthYear.-shown > *:hover,
.Calendar:not(.-noFocusOutline) .Calendar__monthYear.-shown > *:focus,
.Calendar__monthYear > *.-activeBackground {
    background: #f5f5f5;
}

.Calendar__monthText:hover {
    transform: translateX(-0.2em) scale(0.95);
}
.Calendar.-rtl .Calendar__monthText:hover {
    transform: translateX(0.2em) scale(0.95);
}

.Calendar__yearText:hover {
    transform: translateX(0.2em) scale(0.95);
}
.Calendar.-rtl .Calendar__yearText:hover {
    transform: translateX(-0.2em) scale(0.95);
}

.Calendar__monthYear .Calendar__yearText.-hidden {
    transform: translateX(50%);
    opacity: 0;
}

.Calendar.-rtl .Calendar__monthYear .Calendar__yearText.-hidden {
    transform: translateX(-50%);
}

.Calendar__monthYear .Calendar__monthText.-hidden {
    transform: translateX(-50%);
    opacity: 0;
}

.Calendar.-rtl .Calendar__monthYear .Calendar__monthText.-hidden {
    transform: translateX(50%);
}

.Calendar__monthYear:not(.-shown) > * {
    pointer-events: none;
}

.Calendar__monthSelectorAnimationWrapper,
.Calendar__yearSelectorAnimationWrapper {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Calendar__monthSelectorWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calendar__monthSelector {
    padding: 0 2.5em;
    align-content: center;
    padding-bottom: 2em;
}

.Calendar__monthSelector,
.Calendar__yearSelector {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    background-color: #fff;
    transform: translateY(-150%);
    will-change: transform;
    transition: 0.6s;
    height: 100%;
}

.Calendar__yearSelectorWrapper {
    width: 100%;
    height: 100%;
}

.Calendar__yearSelectorWrapper::after,
.Calendar__yearSelectorWrapper::before {
    content: '';
    width: 100%;
    height: 5em;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.4s;
    transition-delay: 0.2s;
}

.Calendar__yearSelectorWrapper::after {
    background-image: linear-gradient(to bottom, #fff, #fff 10%, rgba(245, 245, 245, 0));
    top: -0.1em;
}

.Calendar__yearSelectorWrapper::before {
    background-image: linear-gradient(to top, #fff, #fff 10%, rgba(245, 245, 245, 0));
    bottom: 0;
}

.Calendar__yearSelectorWrapper.-faded::after,
.Calendar__yearSelectorWrapper.-faded::before {
    opacity: 1;
    z-index: 3;
}

.Calendar__yearSelector {
    align-content: flex-start;
    scrollbar-width: 0;
    overflow: scroll;
    position: relative;
    width: 100%;
    padding: 5em 2em;
    -ms-overflow-style: none;
}

.Calendar__yearSelector::-webkit-scrollbar {
    display: none;
}

.Calendar__yearSelectorItem {
    width: 25%;
    display: flex;
    justify-content: center;
}

.Calendar__yearSelectorItem:not(:nth-child(-n + 4)) {
    margin-top: 1.5em;
}

.Calendar__yearSelectorText {
    border: none;
    font-size: 1.4em;
    min-width: 85%;
    padding: 0.2em 0.5em;
    border-radius: 8.5px;
}

.Calendar__monthSelector.-open,
.Calendar__yearSelector.-open {
    transform: translateY(0);
}

.Calendar__yearSelectorText:focus,
.Calendar__monthSelectorItemText:focus {
    outline: 1px dashed rgba(0, 0, 0, 0.4);
    outline-offset: 2px;
}

.Calendar__monthSelectorItem {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}

.Calendar__monthSelectorItem:not(:nth-child(-n + 3)) {
    margin-top: 2em;
}

.Calendar__monthSelectorItemText {
    border: none;
    padding: 0.4em 0.4em;
    border-radius: 8.5px;
    font-size: 1.3em;
    min-width: 70%;
    transition: 0.3s;
}

.Calendar__monthSelectorItem:not(.-active) .Calendar__monthSelectorItemText:not(:disabled):hover,
.Calendar__yearSelectorItem:not(.-active) .Calendar__yearSelectorText:not(:disabled):hover {
    background: #f5f5f5;
}

.Calendar__monthSelectorItemText:disabled,
.Calendar__yearSelectorText:disabled {
    opacity: 0.5;
    cursor: default;
}

.Calendar__monthSelectorItem.-active .Calendar__monthSelectorItemText,
.Calendar__yearSelectorItem.-active .Calendar__yearSelectorText {
    background-color: var(--cl-color-primary);
    color: #fff;
}

.Calendar__weekDays {
    display: flex;
    justify-content: space-between;
    color: var(--cl-color-disabled);
    font-size: 1.2em;
    margin-bottom: 0.7em;
    padding: 0 2.6em;
    position: relative;
}

.Calendar__weekDay {
    display: block;
    width: calc(100% / 7);
    text-align: center;
    text-decoration: none;
}

.Calendar__sectionWrapper {
    position: relative;
    min-height: 25.8em;
    overflow: hidden;
}

.Calendar__section {
    display: flex;
    flex-direction: column;
    padding: 0 3.2em;
    position: absolute;
    color: var(--cl-color-black);
    top: 0;
    padding-top: 0.5em;
    left: 0;
    width: 100%;
    will-change: transform, opacity;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: var(--animation-duration);
}

.Calendar__section.-hiddenPrevious {
    opacity: 0.5;
    transform: translateX(-90%);
}

.Calendar.-rtl .Calendar__section.-hiddenPrevious {
    transform: translateX(90%);
}

.Calendar__section.-hiddenNext {
    opacity: 0.5;
    transform: translateX(90%);
}

.Calendar.-rtl .Calendar__section.-hiddenNext {
    transform: translateX(-90%);
}

.Calendar__section.-shown {
    opacity: 1;
    transform: translateX(0);
}

.Calendar__section.-shownAnimated {
    animation: var(--animation-duration) FadeContentToCenter forwards;
}

.Calendar__weekRow {
    display: flex;
    width: 100%;
}

.Calendar__day {
    display: block;
    width: calc(100% / 7);
    text-align: center;
    padding: calc(0.25em - 1px) 0;
    font-size: 1.6em;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid transparent;
    margin-bottom: 0.3em;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Calendar__day:focus {
    outline: 1px dashed rgba(0, 0, 0, 0.4);
    outline-offset: 2px;
}

.Calendar__day.-ltr {
    min-height: 2.6em;
    font-size: 1.45em;
}

.Calendar__day.-rtl {
    font-size: 1.55em;
    height: 2.45em;
}

.Calendar__day:not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween):not(.-selected):hover {
    background: #eaeaea;
    border-radius: 50%;
    color: var(--cl-color-black);
    border-color: transparent;
}

.Calendar__day.-selected,
.Calendar__day.-selectedStart,
.Calendar__day.-selectedEnd {
    background: var(--cl-color-primary);
    color: #fff;
}

.Calendar__day.-ltr.-selectedStart {
    border-radius: 0;
    border-top-left-radius: 100em;
    border-bottom-left-radius: 100em;
}

.Calendar__day.-rtl.-selectedStart {
    border-radius: 0;
    border-top-right-radius: 100em;
    border-bottom-right-radius: 100em;
}

.Calendar__day.-selectedBetween {
    background: var(--cl-color-primary-light);
    color: var(--cl-color-primary);
    border-radius: 0;
}

.Calendar__day.-ltr.-selectedEnd {
    border-top-right-radius: 100em;
    border-bottom-right-radius: 100em;
}

.Calendar__day.-rtl.-selectedEnd {
    border-top-left-radius: 100em;
    border-bottom-left-radius: 100em;
}

.Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
    color: var(--cl-color-error);
}

.Calendar__day.-weekend.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after {
    background: var(--cl-color-error);
}

.Calendar__day.-disabled {
    color: var(--cl-color-disabled) !important;
    background: transparent !important;
    cursor: default !important;
}
.Calendar__day.-selected {
    border-radius: 50%;
}
.Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
    font-weight: 600;
    color: var(--cl-color-black);
    color: #000;
    position: relative;
}

.Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after {
    content: '';
    position: absolute;
    bottom: 0.2em;
    display: block;
    width: 0.6em;
    height: 1px;
    background: #000;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    transition: 0.2s;
}

.Calendar__day.-today:hover:not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween)::after {
    opacity: 0;
}

.Calendar__day.-blank {
    color: transparent;
    cursor: default;
    pointer-events: none;
}

.Calendar__footer {
    position: relative;
    z-index: 1;
}

@keyframes fadeCalendar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeArrowFlipped {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0) rotate(180deg);
    }
}

@keyframes fadeTextToCenter {
    to {
        opacity: 1;
        transform: translateX(-50%);
    }
}

@keyframes FadeContentToCenter {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


#cus-checkbox{
    margin-top: 7px;
}

.form-group-cus-check label{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #212121;
}

.form-content-type{
    padding: 16px 20px;
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 16px;
}
.btn-dkbs-vcx{
    background: #329945;
    border-radius: 10px;
    width: 100%;
    height: 54px;
    /*margin: auto;*/
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /*text-align: center;*/
    color: #FFFFFF;
    text-align: center;
    padding-top: 16px;
    cursor: pointer;
}
.form-note-vcx label{
    font-family: Nunito;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #DA2128;
}
.form-total-premium p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}

.form-total-premium label {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    float: right;
}

.form-voucher p {
    color: #DA2128;
}
.btn-apply-voucher{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #329945;
    box-sizing: border-box;
    border-radius: 40px;
    margin-top: 7px;
    text-align: center;
    padding-top: 9px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #329945;
    cursor: pointer;
}
.flselect-cus{
    z-index: 99999;
}
.label-scan-qr {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #329945;
    cursor: pointer;
}
.img-scan-qr{
    width: 120px;
    height: 120px;
}
.form-scan-qr{
    text-align: center;
    margin: 0 auto;
    background: #E7FCEE;
    border: 1px dashed #329945;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px 0;
    cursor: pointer;
}
.custom-content-dialog .genqr-content{
    font-family: Nunito;
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #DA2128;
    margin-top: 8px;
}
.header-dkbs{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #329945;
}
.btn-save-dkbs{
    width: 147px;
    height: 40px;
    background: #329945;
    border-radius: 40px;
    margin: 0 auto;
    padding-top: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 25px;
}
.vcx-lstt {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #212121;
    margin-top: 15px;
}
.txt-sumary-st2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
    margin: 8px 0px !important;
}
.sms-ck{
    font-family: Nunito;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #323232;
}

.modal.show .modal-dialog {
    box-shadow: none !important;
}

.group_ipnv {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
}
.kkjs {
    border-left: 1px solid #dddddd;
    position: relative;
    width: 50%;
}
.view_ql {
    border: 1px solid #329945 !important;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #329945;
    background: none;
    background-color: none !important;
    border-radius: 40px;
    padding: 10px 20px;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 90%;
}
.view_ql:hover,
.view_ql:active,
.view_ql:focus {
    background: #329945 !important;
    outline: 0;
    color: #FFFFFF !important;
}
.list_benefit_relative .h {
    background: #eefff1;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}
.list_xxx .ite {
    padding: 10px 0;
}

.list_xxx {
    padding: 0 15px 15px;
}

.view_detail_benefit,
.view_detail_benefit:active,
.view_detail_benefit:focus,
.view_detail_benefit:hover {
    width: 100%;
    background: #329945 !important;
    background-color: #329945 !important;
    border: 1px solid #329945 !important;
    box-sizing: border-box;
    border-radius: 6px !important;
    margin-top: 10px;
}

.custom-footer-modal {
    /*padding: 16px 0;*/
    border-top: 1px solid #DDDDDD;
    text-align: center;
}
.custom-footer-modal .btn-add-ndbh {
    border-radius: 40px;
}

.btn-custom-sdk {
    width: 235px;
    height: 38px;
    background: #329945;
    border-radius: 3px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5px;
    margin: 15px;
    cursor: pointer;
    border-width: 0;
}
.btn-custom-sdk:focus {
    outline: unset !important;
}
.btn-custom-sdk:disabled {
    background: #C4C4C4;
    /*border-radius: 3px;*/
}

.icon-table i{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #EC5233;
    cursor: pointer;
}

.icon-table i:first-child{
    margin-right: 32px;
}

.info-payment{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px;
    /*padding: 12px 16px;*/
}
.item-info-payment{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #666666;
}
.item-info-payment label:nth-child(2){
    float: right;
    color: #DA2128;
}
.total-info-payment {
    background: #F9F9F9;
    padding: 12px 15px;
}
.total-info-payment label:first-child{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.total-info-payment label:nth-child(2){
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #DA2128;
    float: right;
}
.label-lockout {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #444444;

}